body{
    background: #ffd000;
    background-image: url(pata.png);
}

.logo{
    display: flex;
    flex-direction: column;
}
h1:hover{
    font-size: 30px;
    color: red;
}
li:hover{
    color: red;
}

.cabecalho{
    display:flex; 
    align-items: center;
    justify-content: space-around;
    background-image: url(patinhas.jpg);
    border-radius: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cabecalho ul{
    list-style: none;
    display: flex;
}
.cabecalho ul li{
    margin: 2em;
}
.maint{
    margin-left: 2em;
}

main h2{
   color: rgb(86, 138, 235);
   text-align: center;
   font-size: 30px;
} 

main h1{
    color: yellow;
   text-align: center;
   font-size: 40px;

}

main p{
    text-align: center;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.flex-container{
    
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    width: 100%;
    padding: 10px 50px;
    
}

.flex-container2{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    width: 100%;
    padding: 10px 50px;
}

.cachorro1{
    width: 320px;
    height: 205px;
    
    
}

.cachorro2{
    width: 320px;
    height: 205px;
}

.cachorro3{
    width: 320px;
    height: 205px;
}

.gato1{
    width: 320px;
    height: 205px;
}

.gato2{
    width: 320px;
    height: 205px;
}

.gato3{
    width: 320px;
    height: 205px;
}

footer{
    text-align: center;
    display:flex; 
    align-items: center;
    justify-content:center;
    background-image: url(patinhas.jpg);
    border-radius: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
}

.copyright {
    color: black;
    font-size: 13px;
    margin: 20px 0 0;
    
}